/***** Custom variables *****/


$link-color: #003566;
$font-family-sans-serif: 'Raleway', sans-serif;
$link-hover-color: #00509d;
$nav-link-color: #003566;
$nav-link-hover-color: #00509d;



/***** End Custom variables *****/



@import "../node_modules/bootstrap/scss/bootstrap.scss";